body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1em;
  /* font-family: Tahoma, Geneva, Verdana, sans-serif; */
  font-family: sans-serif;
  background: linear-gradient(45deg, red, purple, blue);
  min-height: 100vh;
  color: white;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  color: white;
}

.form-designn {
  display: flex;
  width: 100px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  padding: 0.5em;
}

#task-input {
  width: min(400px, 70vw);
  padding: 0.25em;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 4em;
  transition: all 300ms ease;
}
#task-input:focus {
  transform: scale(1.1);
  border: auto;
}

#btn {
  width: 100px;
  border-radius: 2em;
  cursor: pointer;
  color: white;
  transition: all 300ms ease;
  background: linear-gradient(45deg, purple, red);
  border: 1px solid white;
  outline: none;
}
#btn:hover {
  transform: scale(1.1);
  outline: none;
}

.task-item {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  border: 1px solid rgb(207, 195, 195);
  padding: 0.25em 0.5em;
  min-width: 300px;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease;
  border-radius: 4em;
  box-shadow: 3px 3px 5px #0007;
}

.task-item:hover {
  transform: translate(0.5em);
}
.completed {
  text-decoration: line-through;
  /* background-color: orange; */
}
